/*************************************************
 * Table of Contents
 *
 * 1. Global Settings
 * 2. Colors
 * 3. Typography
 * 		- Body
 * 		- Headers
 * 4. Layout
 * 		- Media Queries
 * 		- Grid
 * 		- Columns
 * 
 */

/*************************************************
 * Global Settings
 */
$vendor: 'notes';
$wrapper: 3.57142857143rem;

/*************************************************
 * Colors
 */

$colors: (
	primary: #0F111A,
	secondary: #2980B9,
	tertiary: #FF4136,
	quaternary: #ecece4
);

$grayscale: (
	primary: #f5f5f5,
	secondary: #cccccc,
	tertiary: #999999,
	quaternary: #2d2d2d
);

/*************************************************
 * Typography
 * 
 */

/**
 * Body
 * 
 */
$font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$font-size: 14px;
$letter-spacing: 0;

$secondary-font-family: "Source Sans Pro", Helvetica Neue, Arial, sans-serif;

/**
 * Headers
 */
$mobile-headers: ( 
    h1: 2.57142857143rem, 
    h2: 2.71698113208rem, 
    h3: 1.35849056604rem, 
    h4: 1rem);

$desktop-headers: ( 
	h1:4.0rem, 
	h2: 2.71698113208rem, 
	h3: 1.1875rem, 
	h4: 1.2rem, 
	h5: 1.8rem, 
	h6: 1.5rem);


/*************************************************
 * Layout
 * 
 */

/**
 * Display (Media Queries)
 * 
 */

$breakpoints: (
    mobile: 0px, 
    phablet: 550px, 
    tablet: 768px, 
    desktop: 1024px, 
    hd: 1440px);

/**
 * Grid
 * 
 */
$grid-unit: 72px;

/**
 * Columns
 * 
 */
$list-columns: ( 
	name: 'list',
	selector: 'li'
);

$div-columns: (
	name: 'div',
	selector: 'div'
);
