<!-- console -->
<section id="modal-background" class="modal-background delete-modal-container">
</section>
	<aside id="delete-modal" class="delete-modal">
	   <div class="modal__header"><span class="ion-android-warning"></span>Warning!</div>
	   <p><strong><span id="modal-note-name" data-note-name="">Note Name</span></strong> will be deleted forever.  Do you want to continue?</p>
	     <div class="modal__footer">
	     <a id="delete" href="javascript:;" class="delete">
             <span class="btn__content">Delete</span>
            <div class="btn__loader"></div>
            <span class="btn__success">Deleted</span>
          </a>
	     <a id="cancel-delete" class="cancel-delete" href="javascript:;">Cancel</a>
	     </div>
	</aside>
