<!-- details -->
<div id="note-details" class="note-details">

<div id="details-title" class="details__title">
    <span class="details-title__title">Note Details</span>
    <div class="details-title__header">
        <div>Name</div>
        <div>Value</div>
    </div>
</div>

  <ul id="details" class="details">
      <% for (var i=0; i < details.length; i++) { %>
        <li class="details__item">
          <form class="details-form">
            <div class="details__input-container">
              <input class="details-name details__input input" name="values[]" placeholder="name" value="<%= details[i].name %>">
            </div>
            <div class="details__input-container">
              <input class="details-value details__input input" name="values[]" placeholder="value" value="<%= details[i].value %>">
            </div>
          </form>
        </li>
      <% } %>
  </ul>
    <a id="add-details" class="add-details" href="javascript:;">+
  </a>

</div>
    <!-- end details -->