<!-- editor -->
<section id="editor-section" class="editor-section">
    <!-- ideas -->
    <div id="ideas-editor-container" class="ideas__container">
     
      <ul id="ideas" class="ideas" style="clear:both;">
         
         <% for (var i=0; i < ideas.length; i++) { %>
            <li class="ideas__item" data-item-count="<%= i + 1 %>">
             <a id="delete-idea-<%= ideas[i].id %>" href='javascript:;' class='delete-idea btn--small' data-uniqid='<%= ideas[i].id %>'><span data-uniqid='<%= ideas[i].id %>' class='ion-android-close'></span></a>
           
              <textarea id="ideas-editor-<%= ideas[i].id %>" class="editor ideas-editor" name="<%= ideas[i].id %>" data-uniqid="<%= ideas[i].id %>" placeholder="Ideas"><%= ideas[i].value %></textarea>
            </li>
          <% } %>
      
      </ul>

       <section id="ideas-editor-nav" class="ideas-editor-nav" style="text-align:left;padding-top: 10px;">
        <div class="edit-ideas-container" style="float:left; ">

       <a id="open-editor-options-button" class="open-editor-options-button" href="javascript:;" style="display:block;"><span class="ion-android-settings"></span><span class="btn__content">Options</span></a>
       <a id="close-editor-options-button" class="close-editor-options-button" href="javascript:;" style="float:left; margin-bottom: 21px;"><span class="ion-android-cancel"></span>Close Options</a>
        </div>
      
        <!-- add button -->
        <div class="add-ideas-container">
          <a id="add-ideas-item" class="add-ideas-item btn--small" href="javascript:;">+
          </a>
        </div>
        <!-- end add button -->
      </section>
      
      
    </div>

    <!-- description -->
    <div id="description-editor-container" class="description__container">
      <div id="description-empty" class="description-empty">
      <span class="description-empty__title">Hey!</span>
      <span class="description-empty__p">Click the "Idea" field to open the description panel.</span>
      <span class="description-empty__p">Add a title by clicking "Untitled" in the upper left hand corner</span>
      <span class="description-empty__p">The save button, along with other note options, is in the upper right. </span>
      </div>
      <% for (var i=0; i < descriptions.length; i++) { %>
        <div contenteditable id="description-editor-<%= descriptions[i].id ? descriptions[i].id : 1 %>" class="editor description-editor" name="<%= descriptions[i].id %>" data-uniqid="<%= descriptions[i].id %>"><%= descriptions[i].value ? descriptions[i].value : '' %>
        </div>
       
        <a id="create-footnote-btn-<%= descriptions[i].id %>" data-note-id="<%= descriptions[i].id %>" class="create-footnote-btn ion-android-chat" href="javascript:;" style="display: none;"></a>
      <% } %>

    </div>

    <!-- comments -->
    <div id="comments-container" class="comments__container">
      <% for (var i=0; i < footnotes.length; i++) { %>

      <div class="footnote" id="footnote-<%= footnotes[i].id %>" data-note-id="<%= footnotes[i].noteId %>" data-id="<%= footnotes[i].id %>" style="display: none">
        <textarea class="footnote-input" value="<%= footnotes[i].value %>"><%= footnotes[i].value %></textarea>
        <button><span class="ion-android-close"></span></button>
      </div>
      <% } %>
    </div>

</section>
<!-- end editor -->