<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8"/>
  <!-- Always force latest IE rendering engine or request Chrome Frame
  -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="description"/>
  <!-- Use title if it's in the page YAML frontmatter
  -->
  <title>
     •
  </title>
  
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"></link>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet"></link>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/assets/dist/styles/mooc.min.css" rel="stylesheet"></link>
</head>

  <body>
