  <!-- header -->
  <header role="header">
    <div id="logo" class="logo">
      <a href="/"><span class="ion ion-document" style="color: #fff; padding: 15px 0 0; font-size: 24px;"></span></a>
    </div>
    <div id="site-nav" class="site-nav">
        <ul>
          <li class="site-nav__item site-nav__login"><a id="login-btn" class="site-nav__link" href="javascript:;">Login</a></li>
          <li class="site-nav__item site-nav__user"><a id="user-btn" class="site-nav__link" href="javascript:;" style="display:none"></a>
            <ul id="user-menu" class="user-menu">
              <li class="user-menu__item"><a id="notes-btn" class="user-menu__link" href="/notes"><span class="ion-android-document"></span>Notes</a></li>
              <li class="user-menu__item"><a id="logout-btn" class="user-menu__link" href="javascript:;"><span class="ion-android-exit"></span>Logout</a></li>
            </ul>
          </li>
          
        </ul>
    </div>
    </header>
  <!-- end header -->

