  <!-- header -->
  <header role="header">
    <div class="logo">
      <a href="/"><span class="ion ion-document" style="color: #fff; padding: 15px 0 0; font-size: 24px;"></span></a>
    </div>
    <div id="site-nav" class="site-nav">
    </div>
    </header>
  <!-- end header -->

