
    <!-- login -->
    <div id="login-modal" class="login-modal">
      <section>
        <form id="login-form" class="login-form">
          <h3>Login</h3>
          <!-- refactor to have named entities inherit common classes -->
          <div class="login-form__email-container form__field">
            <input id="login-form-email" class="login-form__email" name="login-form-email" type="text" placeholder="Username" data-field="login">
            
          </div>
          <div class="login-form__password-container form__field">
            <input  id="login-form-password" class="login-form__password" name="login-form-password" type="password" placeholder="Password" data-field="password">
          </div>
          <div class="form__field">
            <button id="submit-login-form" class="btn login-form__button" data-function="login">
            <span class="btn__content">Login</span>
            <div class="btn__loader"></div>
            <span class="btn__success">Success!</span>
            </button><a href="javascript:;" class="login-form__toggle switch-form">No account? Sign up &raquo;</a>
          </div>
        </form>
        <div id="login-form-message-panel"></div>
      </section>

      <section>
        <form id="signup-form" class="signup-form">
          <h3>Sign Up</h3>
          <div class="form__field">
            <input id="signup-form-email" class="signup-form__email" name="signup-form-email" type="text" placeholder="Username" data-field="login">
          </div>
          <div class="form__field">
            <input id="signup-form-password" class="signup-form__password" name="signup-form-password" type="password" placeholder="Password" data-field="password">
          </div>
          <div class="form__field">
          <button id="submit-signup-form" class="btn signup-form__button" data-function="signup">
            <span class="btn__content">Sign Up</span>
            <div class="btn__loader"></div>
            <span class="btn__success">Success!</span>
          </button><a href="javascript:;" class="login-form__toggle switch-form">Registered? Login &raquo;</a>
          </div>
        </form>
      </section>

    </div>
    <!-- end login -->