<!-- mobile-warning -->
<div class="mobile-modal-background"></div><!-- 
<section id="mobile-warning" class="mobile-warning">
<span style="font-size: 72px; font-weight:800;" class="ion-android-warning"></span>
   <h1>Hey!</h1>
   <p>This site is optimized for tablets, laptops, and desktops. </p>
   <p>Check back soon for a mobile version </p>
</section>
</div> -->


<aside id="mobile-warning" class="mobile-warning">
   <div class="modal__header"><span class="ion-android-warning"></span>Warning!</div>
   <p>This app is under development.  Get in touch if anything is not working. </p>
    <div class="modal__footer">
     <a id="close-mobile-warning" href="javascript:;" class="btn">Ok, let me at it</a>
	</div>
</aside>
