<section id="notes" class="notes">
	
	<nav id="notes-nav" class="notes-nav">
	<a href="javascript:;" onclick="window.history.back()"><span class="ion-android-arrow-back"></span></a>
	<span style="margin-left: 11px">Notes</span>

	<input id="notes-search" type="search" class="notes-search" placeholder="Under Construction">
<!-- 		<a class="notes-options-btn" href="javascript:;">Advanced Search Filter</a>
 -->
	</nav>

	<ul id="notes-list" class="notes-list">
	</ul>

</section>