  <!-- title -->
    <div class="title">

        <div id="title-input-container" class="title-input-container">
          <input id="title-input" class="title-input input" name="title" autocomplete="off" placeholder="Untitled" value="<%= fields.title.value ? fields.title.value : '' %>">
        </div>

        <% var menu = [
          {
            name: "new-note-btn",
            icon: "ion-android-document",
            content: "New"
          },
          {
            name: "save-btn",
            icon: "ion-android-done",
            content: "Save"
          },
          {
            name: "edit-details-btn",
            icon: "ion-android-settings",
            content: "Details"
          }
        ]; %>

        <ul class="note-menu">

        <% for (var i = 0; i < menu.length; i++) { %> 

            <li class="note-menu__item">
                <a id="<%= menu[i].name %>" class="note-menu__link" href="javascript:;">
                    <span class="btn__icon <%= menu[i].icon %>"></span>
                    <span class="btn__content"><%= menu[i].content %><span>
                </a>
            </li>

        <% } %>

        </ul>

    </div>
    <!-- end title -->