
<section id="tour" class="tour" style="">
 
</section>

 <div class="tour-container">
   <h1>Hey!</h1>

     <p>Looks like this is the first time you've visited.</p>
     <p><strong>Scribble</strong> is a web app for taking <strong>better notes.</strong></p>
     <p>Want to take a tour?</p>
     <div class="tour__footer">
     <a id="takeTour" href="/tour" class="btn">Take the Tour</a>
     <a id="noTour" href="javascript:;" class="btn btn--alert">No Thanks</a>
     </div>
   </div>