.tour { 
    position:fixed;
    overflow:hidden;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    height: 100vh; width: 100vw;
    display: none;
}

@media(max-width: 768px) {
    .tour {
        display: none;
    }
}

.tour-container {
    display: none;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 3px 6px #000;
    background: #fff;
    border-top: 4px solid #4272a4;
      width: 30vw;
    color: #000;
    min-height: 24vh;
    top: 30vh;
    left: 33vw;
    padding: 25px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
    p {
        margin: 10px 0 25px;
    }
}

@media(max-width: 768px) {
    .tour-container {
        display:none;
    }
}

.btn--alert:hover {
    background: #fff !important;
}

.tour__footer {
    margin-top: 4vh;
}

.tour-leg {
    display: none;
    position: absolute;
    z-index: 99;
    background: #fff;
    width: 20vw;
    padding: 5vh 2vw;
    color: #000;
    font-family: "Segoe UI", "Source Sans Pro", Helvetica Neue, Arial, sans-serif;
    box-shadow: 0 3px 6px #ddd;
    border-top: 4px solid #4272a4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 12px;
}

.tour-leg p {
    margin: 12px 0;
}

.tour-leg-1 {
    top: 110px;
    left: 40px;
}

.tour-leg-2 {
    top: 110px;
    left: 300px;
}

.tour-leg-3 {
    top: 110px;
    left: 300px;
}

.tour-leg-4 {
    top: 110px;
    left: 300px;
}

.tour-leg-5 {
    top: 175px;
    left: 40px;
}

.tour-leg-6 {
    top: 110px;
    right: 40px;
}

.tour-leg-7 {
    top: 110px;
    right: 440px;
}

.tour-leg-8 {
    top: 110px;
    right: 40px;
}

.tour-leg-9 {
    top: 110px;
    left: 50%;
    margin-left: -12vw;
}