.editor-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    position: relative;
    width: 100%;
}

%editor {
  border: 0;
  border-bottom: 4px solid #f2f2f2;
  box-sizing: border-box;
  height: inherit;
  // temp hack
  width: 100%;
  font-size: 13px;
  resize: none;
  margin-bottom: 10px;
  
}

