.login-panel {
    width: 300px;
    border: 1px solid #dadada;
    border-top: 4px solid #4272a4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;    padding: 5vh 4vw 5vh 5vw;
    margin: 75px auto;
    background: #fff;
}

.login-modal {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 275px;
    padding: 40px 4vw 40px 5vw;
    right: 10px;
    left: auto;
    top: 65px;
    background: #fff;
    box-shadow: 0 3px 6px #ddd;
    border-top: 4px solid #4272a4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.login-modal:before {
    position: absolute;
    top: -10px;
    right: 55px;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    content: "";
}