
.console {
	position: fixed;
	bottom: 10px;
	right: 25px;
	z-index: 999;
}


@media(max-width: 769px) {
	.console {
		display:none;
	}
}

.console-message {
	// position:fixed; 
	// bottom: 0; 
	// right: 0;
	display: block;
	display: none;
	width: 150px;
	text-align: center;
	margin: 15px 0;
//	background: lighten(#0F111A, 50%); 
	background: #fff;
	color: #000;
	font-weight: 700;
	border: 1px solid #dadada;
	border-top: 4px solid #2472a4; 
//	border-radius: 3px;
	padding: 20px 50px; 
	z-index: 9999;
	//box-shadow: 0 3px 6px #444;
	@extend %button__content--small;
}
