<% include partials/head %>
<% include partials/mobile-warning %>
<% include partials/tour %>
<% include partials/header %>
<% include partials/console %>
<% include partials/login %>

<main id="note" data-note-id="<%= id %>" data-note-status="new">
	<% include partials/title %>
	<% include partials/details %>
	<% include partials/editor %>
</main>

<% include partials/foot %>
