<% include partials/head %>
<% include partials/mobile-warning %>
<% include partials/header %>
<% include partials/console %>
<% include partials/login %>

<div id="tour-leg-1" class="tour-leg tour-leg-1" data-leg="1">
<p>Click where it says "The Note".</p>
<p>Type your name to change the title.</p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=2" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-2" class="tour-leg tour-leg-2" data-leg="2">
<p>Underneath the title are the main ideas.</p>
<p>Click one of the main ideas to edit it.</p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=3" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-3" class="tour-leg tour-leg-3" data-leg="3">
<p>To add a new idea, click the 'Add an Idea' button.</p>
<p><small><em>Note: You can also hit enter twice while editing an idea to create a new idea</em></small></p>
<p>Now, click where it says 'Idea' and type a new main idea.</p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=4" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-4" class="tour-leg tour-leg-4" data-leg="4">
<p>Good Job! You just added your first main idea.  Now let's delete one.</p>
<p>First, click the `Delete Ideas` button at the end of the menu.</p>
<p>Now, each idea has a 'delete' button.  Click to delete the idea.</p>
<p>When you're done, click the 'Cancel' button underneath the 'Delete Ideas' button.</p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=5" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-5" class="tour-leg tour-leg-5" data-leg="5">
<p>Each idea has a description.  To edit the description, first click an idea. </p>
<p>Now, move your cursor to the right and click the large text area.</p>
<p>You can edit the description for your main idea here.</p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=6" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-6" class="tour-leg tour-leg-6" data-leg="6">
<p>Let's find out more about this note.  Click the 'details' button above. </p>
<p>You can see the details added for this note, and add more by clicking the 'Add Details' button.</p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=7" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-7" class="tour-leg tour-leg-7" data-leg="7">
<p>Now, let's save the document.  To save, you must first create an account.</p>
<p>Click the 'login' button in the upper right, then click the 'Don't have an account' button.</p>
<p>Enter a username and password, then click 'Sign Up'</p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=8" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-8" class="tour-leg tour-leg-8" data-leg="8">
<p>You can now save notes! Click the 'save' button in the top right.  </p>
<p>To view all your saved notes, click your username in the top right. </p>
 <div class="tour__footer">
	 <a id="takeTour" href="/tour?leg=9" class="btn">Next Step</a>
	 <a id="closeTour" href="/" style="color: #fff; margin-left: 25px; font-size: 12px;">Close</a>
 </div>
</div>

<div id="tour-leg-9" class="tour-leg tour-leg-9" data-leg="9">
<p>Something not working?  Is there a feature you'd like to add?</p>
<p><a href="mailto:stokeley.matthew@gmail.com" style="color: #fff;">Email us</a> and let us know</p>
 <div class="tour__footer">
	 <a id="closeTour" href="/" style="color: #fff; font-size: 12px;">Close</a>
 </div>
</div>

<main id="note" data-note-id="<%= id %>" data-note-status="new">
	<% include partials/title %>
	<% include partials/details %>
	<% include partials/editor %>
</main>

<% include partials/foot %>