header[role="header"] {
    background: #2472a4;
    padding: 0 10vw;
	@include clearfix();
}

@media(min-width: 769px) {
	header[role="header"] {
		padding: 0 2vw;
	}
}

.logo {
	float:left;
}
		
.site-nav {
	float:right;
	line-height:  50px;
}

.site-nav__link {
	color: #000;
//	border: 1px solid #999;
    border-radius: 3px;
    padding: 4px 14px;
    background: #fff;
    min-width: 80px;
    transition: all 0.3s;
	@extend %button__content--small;
	span {
		padding: 0 10px;
	}
}

.site-nav__link:visited, .site-nav__link:focus {
	color: #000;
}

.site-nav__link:active, .site-nav__link:hover {
	box-shadow: inset 0 0 3px #f2f2f2, inset 0 3px 3px #fafafa;
	color: #000;

}

.site-nav__link:active {
    background: darken(#fff, 5%);
}

.user-menu {
	display: none;
	position: absolute;
	margin-top: -12px;
	width: inherit;
	box-shadow: 0 3px 6px #ddd;
	z-index: 999;
	@extend %list-reset;
}

.user-menu__link {
	background: #fff;
	line-height: 14px;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
	padding: 8px 14px;
	color: #000;
	display: block;
	@extend %button__content--small;
	span {
		padding: 0 10px 0 0;
	}
	transition: all 0.3s;
}

.user-menu__link:hover {
	color: #2472a4;
	border-color: #999;
	background: #fff;
	background-color: #f2f2f2;
	box-shadow: inset 0 0 3px #f2f2f2;
}
