/**
 * Note Details Section
 */
.note-details {
	display: none; 
	padding: 10vh 15vw;
	background: #fff;	
	margin-top: 10px;
}


.add-details {
	@extend %add-button;
	float: right;
	margin-top: 25px;
}

/**
 * Details List
 */

.details__item {
	clear:both;
	display:block;
	width: 60vw;
}

.details__input-container {
	border-bottom: 1px solid #ccc;
	width: 30vw;
	float: left;
}

.details__input {
	width: 100%;
	border: 0;
	padding: 1em;
	@extend %button__content--small;
}

.details-title__title {
	@extend %h3;
	font-weight: 400;
	display: block;
	margin-bottom: 20px;
}

.details-title__header {
	
	min-height: 28px;
	border-bottom: 4px solid #2472a4;
	div {
		width: 45%;
		float: left;
		padding: 6px 2% 6px;
		@extend %button__content--small;
	}
	div:first-child {
		border-right: 1px solid #fff;
	}
}