/* vendor */
/* end vendor */
/*************************************************
 * Table of Contents
 *
 * 1. Global Settings
 * 2. Colors
 * 3. Typography
 * 		- Body
 * 		- Headers
 * 4. Layout
 * 		- Media Queries
 * 		- Grid
 * 		- Columns
 * 
 */
/*************************************************
 * Global Settings
 */
/*************************************************
 * Colors
 */
/*************************************************
 * Typography
 * 
 */
/**
 * Body
 * 
 */
/**
 * Headers
 */
/*************************************************
 * Layout
 * 
 */
/**
 * Display (Media Queries)
 * 
 */
/**
 * Grid
 * 
 */
/**
 * Columns
 * 
 */
body, html {
  margin: 0;
  padding: 0;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

section, aside {
  display: block;
}

ul, li {
  list-style-type: none;
}

textarea:focus, input:focus {
  outline: 0;
  border: 0;
}

/* utilities */
/**
 * @module pixel-based grid
 */
/**
 * A place for custom mixins if neccessary.
 */
.notes-nav:before, .notes-list:before, .notes-list__item:before {
  content: "";
  display: table;
  clear: both;
}
.notes-nav:after, .notes-list:after, .notes-list__item:after {
  content: "";
  display: table;
  clear: both;
}

.user-menu, .note-menu__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.user-menu li, .note-menu__item li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* end utilities  */
.add-details, .add-ideas-item {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

/* modules/elements */
body, html {
  font-size: 14px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0;
  background: #fafafa;
  overflow-x: hidden;
}

/**
 * `rem` units allow us to define response type for the entire site 
 * by changing the font-size property of the `html` element. 
 */
.btn, .delete {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  background-color: #2980B9;
  border: 0;
  border: 1px solid #2980B9;
  border-radius: 18px;
  padding: 4px 36px 8px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
  /* float: right; */
}

.btn:hover, .delete:hover {
  background-color: #2472a4;
}

.btn--alert {
  background-color: #fff;
  border: 3px solid #c0392b;
  color: #000;
}

.btn__icon {
  vertical-align: middle;
  padding-right: 5px;
  font-size: 18px;
}

.btn__content {
  vertical-align: middle;
}

.site-nav__link, .user-menu__link, .details__input, .details-title__header div, .note-menu__link, .login-form input, .signup-form input, .login-form__toggle, .notes-search, .notes-list__item span, .notes-list__menu a, .notes-options-btn, .cancel-delete, .close-editor-options-button, .open-editor-options-button, .console-message {
  font-size: 13px;
  font-family: "Source Sans Pro", Helvetica Neue, Arial, sans-serif;
}

.btn, .delete {
  transition: box-shadow 0.15s;
}

.btn:active, .delete:active {
  box-shadow: inset 0 3px 10px #000;
  outline: 0;
  color: #fff;
}

.btn:focus, .delete:focus {
  outline: 0;
}

.btn__success {
  display: none;
}

.btn__loader {
  display: none;
  position: relative;
  margin-left: 5px;
  margin-top: 2px;
  width: 12px;
  height: 12px;
  -webkit-animation: circle infinite .75s linear;
  -moz-animation: circle infinite .75s linear;
  -o-animation: circle infinite .75s linear;
  animation: circle infinite .75s linear;
  border: 2px solid #fff;
  border-top-color: rgba(35, 109, 158, 0.9);
  border-right-color: rgba(35, 109, 158, 0.9);
  border-bottom-color: rgba(35, 109, 158, 0.9);
  border-radius: 100%;
}

.delete .btn__loader {
  border-top-color: rgba(184, 47, 39, 0.9);
  border-right-color: rgba(184, 47, 39, 0.9);
  border-bottom-color: rgba(184, 47, 39, 0.9);
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.form__field {
  clear: both;
}

.details-title__title {
  font-size: 1.35849rem;
  line-height: 1;
  margin: 0;
}

a {
  color: #0F111A;
  text-decoration: none;
  line-height: inherit;
}

a:hover, a:focus {
  color: #181c2a;
}

/* end elements */
/**
 * modules / app
 */
.editor-container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  position: relative;
  width: 100%;
}

.ideas-editor, .description-editor {
  border: 0;
  border-bottom: 4px solid #f2f2f2;
  box-sizing: border-box;
  height: inherit;
  width: 100%;
  font-size: 13px;
  resize: none;
  margin-bottom: 10px;
}

/* app */
header[role="header"] {
  background: #2472a4;
  padding: 0 10vw;
}
header[role="header"]:before {
  content: "";
  display: table;
  clear: both;
}
header[role="header"]:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 769px) {
  header[role="header"] {
    padding: 0 2vw;
  }
}
.logo {
  float: left;
}

.site-nav {
  float: right;
  line-height: 50px;
}

.site-nav__link {
  color: #000;
  border-radius: 3px;
  padding: 4px 14px;
  background: #fff;
  min-width: 80px;
  transition: all 0.3s;
}
.site-nav__link span {
  padding: 0 10px;
}

.site-nav__link:visited, .site-nav__link:focus {
  color: #000;
}

.site-nav__link:active, .site-nav__link:hover {
  box-shadow: inset 0 0 3px #f2f2f2, inset 0 3px 3px #fafafa;
  color: #000;
}

.site-nav__link:active {
  background: #f2f2f2;
}

.user-menu {
  display: none;
  position: absolute;
  margin-top: -12px;
  width: inherit;
  box-shadow: 0 3px 6px #ddd;
  z-index: 999;
}

.user-menu__link {
  background: #fff;
  line-height: 14px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  padding: 8px 14px;
  color: #000;
  display: block;
  transition: all 0.3s;
}
.user-menu__link span {
  padding: 0 10px 0 0;
}

.user-menu__link:hover {
  color: #2472a4;
  border-color: #999;
  background: #fff;
  background-color: #f2f2f2;
  box-shadow: inset 0 0 3px #f2f2f2;
}

/**
 * Note Details Section
 */
.note-details {
  display: none;
  padding: 10vh 15vw;
  background: #fff;
  margin-top: 10px;
}

.add-details {
  float: right;
  margin-top: 25px;
}

/**
 * Details List
 */
.details__item {
  clear: both;
  display: block;
  width: 60vw;
}

.details__input-container {
  border-bottom: 1px solid #ccc;
  width: 30vw;
  float: left;
}

.details__input {
  width: 100%;
  border: 0;
  padding: 1em;
}

.details-title__title {
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}

.details-title__header {
  min-height: 28px;
  border-bottom: 4px solid #2472a4;
}
.details-title__header div {
  width: 45%;
  float: left;
  padding: 6px 2% 6px;
}
.details-title__header div:first-child {
  border-right: 1px solid #fff;
}

.editor-section {
  clear: both;
  background: #fafafa;
  min-height: 100vh;
  padding: 25px;
}

.title {
  border-bottom: 1px solid #bbb;
  box-shadow: 0 3px 6px #eee;
  overflow: hidden;
  position: relative;
  z-index: 9;
  background: #fff;
}
.title:before {
  content: "";
  display: table;
  clear: both;
}
.title:after {
  content: "";
  display: table;
  clear: both;
}

.title-input-container {
  width: 50%;
  float: left;
}

.title-input {
  border: 0;
  box-sizing: border-box;
  padding: 6px 0 5px 10vw;
  font-size: 24px;
  width: 100%;
}

@media (min-width: 769px) {
  .title-input {
    padding-left: 2vw;
  }
}
@media (max-width: 768px) {
  .note-menu {
    background: #fff;
    /* display: none; */
    position: fixed;
    bottom: 0;
    z-index: 99999;
    display: block;
    left: 0;
    border-top: 1px solid #ddd;
    right: 0;
  }
}
@media (min-width: 768px) {
  .note-menu {
    display: block;
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 3.57143rem;
  }
}
.note-menu__item {
  display: inline-block;
  border-right: 1px solid #efefef;
  margin-left: -4px !important;
}

@media (max-width: 768px) {
  .note-menu__item {
    width: 33.333333vw;
    box-sizing: border-box;
    text-align: center;
  }
}
.note-menu__item:first-child {
  border-left: 1px solid #efefef;
}

.note-menu__link {
  display: block;
  padding: 14px 20px 6px;
  border-bottom: 4px solid #fff;
  transition: all 0.1s;
}

.note-menu__link:hover {
  border-bottom: 4px solid #22263a;
}

.note-menu__link:active {
  border-bottom: 4px solid #2472a4;
  box-shadow: inset 0 2px 3px #777;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

.note-menu__link.active {
  border-bottom: 4px solid #2472a4;
  box-shadow: inset 0 2px 3px #777;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

.login-panel {
  width: 300px;
  border: 1px solid #dadada;
  border-top: 4px solid #4272a4;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 5vh 4vw 5vh 5vw;
  margin: 75px auto;
  background: #fff;
}

.login-modal {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 275px;
  padding: 40px 4vw 40px 5vw;
  right: 10px;
  left: auto;
  top: 65px;
  background: #fff;
  box-shadow: 0 3px 6px #ddd;
  border-top: 4px solid #4272a4;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.login-modal:before {
  position: absolute;
  top: -10px;
  right: 55px;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  content: "";
}

.login-form {
  position: relative;
}

.login-form input, .signup-form input {
  margin-bottom: 19px;
  width: 60%;
  display: block;
  padding: 8px 48px;
  border: 1px solid #eee;
  color: #000;
  border-radius: 18px;
  background-color: #fff;
  transition: all 0.3s;
  float: left;
}

.login-form input:focus, .signup-form input:focus {
  background-color: #fff;
  border: 1px solid #999;
}

.login-form h3, .signup-form h3 {
  color: #000;
  font-weight: 400;
  text-align: center;
  line-height: 4rem;
}

.login-form__email, .signup-form__email {
  background-image: url("https://cdn3.iconfinder.com/data/icons/sympletts-free-sampler/128/user-2-24.png");
  background-repeat: no-repeat;
  background-position: 12px 50%;
}

.login-form__password, .signup-form__password {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABlUlEQVQ4T52Tv0vDQBTH37vUIuIgihQ3R3FzEf8BnRxVEBF0qXrtteoghCYYTK2DRWlCbIW6iOAQ8U9wdnNx0EHQzR/g5qC19yTRhlBLW73tvXffz71fh1B3ODe6oaOShCobBaQPP0wYBSYvu6LvTj6ffwtLMGwsCXWYAdtjqOw61taFJ/2JIxfaOCGsAcJqsZC9rekCgBBq/ycqxx9KZO5o33itz8yzEwm1TyrKSfhOAOAiY0ukw5KVu24krvmWhT4CWJ0vWbl1z+cD4vF4h9IZOy1a5lQzcS3Gk/r5y9PNtOu6VR+QTKpDpERmnYK52RYgpe8oRGXbzt7hisiMIUgTkBEQNqy9AbTPy51JUjGR1iYlYE+xYJ6083pQhtAXAOmxGQB5OjODxMixTDc0Up/BWwFWUtoiQxoACUwydl+fYUsAT+scJHldZoBYcSyzHC6xJcAwjMjza8UmQIr1RlKGYXz+CfBdp+bvxYGdPfv1Z1r1wBP4WwcAJdu8+heg2ViDHnChTQCDbSJ8+MseIMhBKXHjC22/ygqOniU4AAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.login-form__toggle {
  margin-left: 15px;
  color: #000;
}

.login-form__toggle:hover {
  text-decoration: underline;
}

.login-form__toggle:focus, .login-form__toggle:active, .login-form__toggle:hover {
  color: #000;
}

.login-form__message, .signup-form__message {
  float: left;
  width: 41px;
  height: 41px;
  display: block;
  margin-left: -40px;
  margin-top: 6px;
}

.login-form__message.success {
  color: #00BD59;
}

.login-form__message.error {
  color: #FF4136;
}

.login-form input.error, .signup-form input.error {
  border: 1px solid #FF4136;
}

.login-form__button {
  width: 100px;
}

.signup-form__button {
  width: 120px;
}

.login-form__button, .signup-form__button {
  margin-bottom: 19px;
}

.mobile-modal-background {
  position: fixed;
  overflow: hidden;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

.mobile-warning {
  position: fixed;
  z-index: 9999;
  box-shadow: 0 3px 6px #000;
  background: #fff;
  border-top: 4px solid #4272a4;
  width: 70vw;
  color: #000;
  min-height: 24vh;
  top: 30vh;
  left: 10vw;
  padding: 25px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: none;
}
.mobile-warning p {
  margin: 10px 0 25px;
}

@media (min-width: 768px) {
  .mobile-warning {
    width: 30vw;
    left: 33vw;
  }
}
.ideas__item {
  background-image: url("https://cdn1.iconfinder.com/data/icons/material-core/20/check-circle-outline-blank-16.png");
  position: relative;
  display: block;
  background-position: 0 3px;
  background-repeat: no-repeat;
  padding-left: 32px;
}

.ideas__item.active {
  background-image: url("https://cdn1.iconfinder.com/data/icons/material-core/20/radio-button-on-16.png");
}

.ideas__item.active .ideas-editor {
  font-weight: 700;
}

.notes-nav {
  border-bottom: 4px solid #2980B9;
  width: 100vw;
  margin: 0 auto 0;
  padding: 20px 10vw 10px 5vw;
  box-sizing: border-box;
  font-size: 20px;
  background: #fff;
}

.notes-search {
  border: 0;
  border-radius: 18px;
  background: #f2f2f2;
  float: right;
  padding: 4px 4px 4px 36px;
  color: #000;
  background-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-20.png");
  background-repeat: no-repeat;
  background-position: 11px 50%;
  margin-right: 10px;
  width: 0px;
}

.notes-list {
  margin: 0 auto;
  padding: 1.61803rem 0.5vw;
}

.notes-list__item {
  padding: 30px;
  height: 30vh;
  background: #fff;
  border: 1px solid #ddd;
  transition: all 0.3s;
  width: 89vw;
  box-sizing: border-box;
  margin: 5vw;
  position: relative;
  transition: all .2s;
}

.notes-list__item.disabled {
  background: #ddd;
}

.notes-list__item.active {
  height: 80vh;
  z-index: 999;
}

@media (min-width: 768px) {
  .notes-list__item {
    float: left;
    margin: 0.5vw;
    width: 23.4vw;
  }
}
.notes-list__item:nth-child(even) {
  border-right: 1px solid #ddd;
}

.notes-list__item:nth-child(odd) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.notes-list__link {
  font-size: 14px;
  font-weight: 700;
}

.notes-list__title {
  float: left;
  width: 70%;
}

.notes-list__menu {
  position: absolute;
  top: 0;
  right: 10px;
  text-align: right;
  opacity: 0;
}

.notes-list__item:hover {
  border-bottom: 1px solid #999;
}

.notes-list__item:hover .notes-list__menu {
  opacity: 1;
}

.notes-list__menu {
  padding-top: 15px;
}

.notes-list__menu a {
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #dadada;
  vertical-align: middle;
  background: #fafafa;
  box-shadow: 0 0 1px #eee;
  transition: all .1s;
}
.notes-list__menu a span {
  padding-right: 7px;
  vertical-align: middle;
  color: #FF4136;
}

.notes-list__menu a:hover {
  border: 1px solid #999;
}

.notes-list__menu a:active {
  box-shadow: inset 0 2px 2px #dadada;
  border: 1px solid #aaa;
}

.notes-options-btn {
  font-size: 11px;
  color: #777;
  margin-right: 10px;
  display: block;
  text-align: right;
}

.modal-background {
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

@media (max-width: 768px) {
  .delete-modal, .modal-background {
    display: none;
  }
}
.delete-modal {
  display: none;
  border-box: box-sizing;
  position: fixed;
  z-index: 99999;
  box-shadow: 0 3px 6px #000;
  background: #fff;
  border-top: 4px solid #4272a4;
  width: 80vw;
  color: #000;
  min-height: 24vh;
  top: 30vh;
  left: 5vw;
  padding: 25px 5vw;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.delete-modal p {
  margin: 10px 0 25px;
}

@media (min-width: 768px) {
  .delete-modal {
    width: 30vw;
    left: 33vw;
  }
}
.delete {
  background-color: #FF4136;
  border-color: #FF4136;
  transition: all 0.3s;
}

.delete:hover {
  background-color: #ff291d;
}

.delete:hover, .delete:visited, .delete:active, .delete:focus {
  color: #fff;
}

.cancel-delete {
  color: #000;
  margin-left: 15px;
  float: right;
}

.cancel-delete:hover, .cancel-delete:visited {
  color: #000;
}

.modal__header {
  font-weight: 700;
}
.modal__header span {
  font-size: 18px;
  color: #FF4136;
  padding-right: 10px;
}

.modal__footer {
  margin-top: 25px;
}

.add-ideas-item {
  display: inline;
  float: right;
}

.add-ideas-item.disabled {
  color: #eee;
}

.edit-ideas-container {
  float: left;
}

.close-editor-options-button {
  display: none;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #dadada;
  vertical-align: middle;
  background: #f5f5f5;
  box-shadow: 0 0 1px #eee;
  transition: all .3s;
}
.close-editor-options-button span {
  padding-right: 7px;
  vertical-align: middle;
}

.close-editor-options-button:hover {
  border: 1px solid #999;
}

.close-editor-options-button:active {
  box-shadow: inset 0 2px 2px #dadada;
  border: 1px solid #aaa;
}

.delete-idea {
  color: #FF4136;
  position: absolute;
  right: 5px;
  margin-top: 9px;
}

.edit-ideas-container {
  margin-bottom: 30px;
}

.open-editor-options-button {
  display: inline;
  color: #999;
  padding: 3px 6px;
  border: 1px solid #fff;
  transition: all .3s;
}
.open-editor-options-button .btn__content {
  padding-left: 7px;
  display: none;
}

.open-editor-options-button:hover {
  color: #000;
  border-radius: 3px;
  border: 1px solid #dadada;
  vertical-align: middle;
  box-shadow: 0 0 1px #eee;
}
.open-editor-options-button:hover .btn__content {
  display: inline;
}

.open-editor-options-button:active {
  box-shadow: inset 0 2px 2px #dadada;
  border: 1px solid #aaa;
}

.editing-animation {
  height: 10px;
  width: 33px;
}

.circle {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: #555;
  animation: editing infinite 2s linear;
}

.circle:nth-child(2) {
  animation-delay: .5s;
}

.circle:nth-child(3) {
  animation-delay: 1s;
}

@keyframes editing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
.tour {
  position: fixed;
  overflow: hidden;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  display: none;
}

@media (max-width: 768px) {
  .tour {
    display: none;
  }
}
.tour-container {
  display: none;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 3px 6px #000;
  background: #fff;
  border-top: 4px solid #4272a4;
  width: 30vw;
  color: #000;
  min-height: 24vh;
  top: 30vh;
  left: 33vw;
  padding: 25px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.tour-container p {
  margin: 10px 0 25px;
}

@media (max-width: 768px) {
  .tour-container {
    display: none;
  }
}
.btn--alert:hover {
  background: #fff !important;
}

.tour__footer {
  margin-top: 4vh;
}

.tour-leg {
  display: none;
  position: absolute;
  z-index: 99;
  background: #fff;
  width: 20vw;
  padding: 5vh 2vw;
  color: #000;
  font-family: "Segoe UI", "Source Sans Pro", Helvetica Neue, Arial, sans-serif;
  box-shadow: 0 3px 6px #ddd;
  border-top: 4px solid #4272a4;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 12px;
}

.tour-leg p {
  margin: 12px 0;
}

.tour-leg-1 {
  top: 110px;
  left: 40px;
}

.tour-leg-2 {
  top: 110px;
  left: 300px;
}

.tour-leg-3 {
  top: 110px;
  left: 300px;
}

.tour-leg-4 {
  top: 110px;
  left: 300px;
}

.tour-leg-5 {
  top: 175px;
  left: 40px;
}

.tour-leg-6 {
  top: 110px;
  right: 40px;
}

.tour-leg-7 {
  top: 110px;
  right: 440px;
}

.tour-leg-8 {
  top: 110px;
  right: 40px;
}

.tour-leg-9 {
  top: 110px;
  left: 50%;
  margin-left: -12vw;
}

.console {
  position: fixed;
  bottom: 10px;
  right: 25px;
  z-index: 999;
}

@media (max-width: 769px) {
  .console {
    display: none;
  }
}
.console-message {
  display: block;
  display: none;
  width: 150px;
  text-align: center;
  margin: 15px 0;
  background: #fff;
  color: #000;
  font-weight: 700;
  border: 1px solid #dadada;
  border-top: 4px solid #2472a4;
  padding: 20px 50px;
  z-index: 9999;
}

.ideas__container {
  box-sizing: border-box;
  border-left: 1px solid #fff;
  background: #fff;
  /* padding: 25px; */
  min-height: 60vh;
  /* background: #333; */
  border: 1px solid #eee;
  padding: 25px 5vw;
  width: 85vw;
  position: absolute;
  transition: all 300ms;
}

@media (min-width: 768px) {
  .ideas__container {
    position: relative;
    min-height: 100vh;
    float: left;
    width: 20vw;
    padding: 2.42705rem 3vw 2.42705rem 2vw;
  }
}
.ideas__container.editing {
  border-left: 1px solid #FF4136;
  box-shadow: -3px 3px 6px #eee;
}

.ideas-editor::-webkit-input-placeholder {
  font-weight: 400;
}

.ideas-editor:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 400;
}

.ideas-editor::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 400;
}

.ideas-editor:-ms-input-placeholder {
  font-weight: 400;
}

.active .ideas-editor {
  border-bottom: 3px solid #2472a4;
}

.ideas-editor:disabled {
  background: #fefefe;
  border-bottom: 3px solid #999;
  color: #999;
}

.delete-idea {
  display: none;
}

.delete-idea:hover {
  color: #b60a00;
}

.show-idea-description {
  position: absolute;
  right: 5px;
  margin-top: 9px;
}

.show-description-idea {
  position: absolute;
  left: 2vh;
  top: 50%;
}

@media (min-width: 769px) {
  .show-idea-description {
    display: none;
  }

  .show-description-idea {
    display: none;
  }
}
.description__container {
  position: absolute;
  transition: all 300ms;
}

.wysiwyg-description-editor {
  display: none;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  background: #fff;
  min-height: 60vh;
  border: 1px solid #eee;
  padding: 25px 5vw;
  width: 85vw;
  margin-left: 0;
}

@media (min-width: 768px) {
  .description__container {
    display: block;
    position: relative;
  }

  .wysiwyg-description-editor {
    width: 46vw;
    padding: 25px;
    background: #fff;
    border: 1px solid #eee;
    position: absolute;
    margin-left: 21.6vw;
    display: none;
  }
}
.description-editor {
  min-height: 40vh !important;
}
.description-editor ul, .description-editor ul li {
  list-style-type: disc;
}
.description-editor ol, .description-editor ol li {
  list-style-type: decimal;
}
.description-editor li {
  margin-left: 10px;
  padding-left: 5px;
}

.description-editor.active {
  border-bottom: 3px solid #2472a4;
}

.description-empty {
  display: none;
}

.description-empty.disabled {
  display: none;
}

@media (min-width: 768px) {
  .description-empty {
    display: block;
    float: left;
    text-align: center;
    width: 38vw;
    padding: 25px;
    position: absolute;
    margin-left: 25.6vw;
  }
}
.description-empty__title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 35px;
  color: #aaa;
  display: block;
  /* -webkit-text-security: initial; */
  color: #ddd;
}

.description-empty__p {
  display: block;
  color: #ccc;
}

.comments__container {
  display: none;
  position: absolute;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  top: 56vh;
  margin-left: 6vw;
  width: 59vw;
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .comments__container {
    width: 22.4vw;
    display: block;
    margin-left: 69vw;
    position: relative;
    top: 0;
    border: 1px solid #eee;
    border-radius: 3px;
  }
}
.create-footnote-btn {
  position: absolute;
  left: 70vw;
  margin-top: 64px;
  background: #fff;
  width: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  color: #ddd;
  top: 0;
  display: none;
}

@media (min-width: 768px) {
  .create-footnote-btn {
    left: 64vw;
    margin-top: 84px;
    height: 40px;
    padding-top: 6px;
  }
}
.create-footnote-btn:hover, .create-footnote-btn:active, .create-footnote-btn:visited {
  color: #000;
}

.footnote-marker {
  width: 5px;
  height: 8px;
  background: #fff;
  border: 0;
  border-left: 3px solid #ddd;
  cursor: pointer;
  margin-left: 3px;
}

.footnote-marker:active, .footnote-marker:focus, .footnote-marker:hover {
  border-left: 3px solid #000;
}

.footnote-marker.active {
  border-left: 3px solid #4a72a4;
}

.create-footnote-btn:focus {
  outline: 0;
}

.comments-container {
  border-bottom: 1px solid #ddd;
}

.footnote-input {
  width: 100%;
  border: 0;
  border-bottom: 3px solid #ddd;
}

.footnote.active .footnote-input {
  border-bottom: 3px solid #2980B9;
}

.footnote button {
  display: none;
  border: 0;
  background: 0;
  position: absolute;
  display: none;
  color: red;
  top: 25px;
  right: 25px;
}

.footnote:hover button {
  display: block;
}

/* end site */
.wysiwyg-editor, .wysiwyg-wrapper {
  position: relative;
}

.wysiwyg-popup, .wysiwyg-toolbar-icon {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.wysiwyg-container {
  overflow: visible;
  color: #000;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.wysiwyg-textarea {
  display: block;
  width: 100%;
  height: 10em;
  padding: 0;
}

.wysiwyg-editor {
  min-height: 1em;
  padding: 4px 6px;
  overflow: auto;
  outline: 0;
  color: #444;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.wysiwyg-toolbar {
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  margin-bottom: 25px;
}

.wysiwyg-toolbar-top {
  border-bottom: 1px solid #e5e5e5;
}

.wysiwyg-toolbar-bottom {
  border-top: 1px solid #e5e5e5;
}

.wysiwyg-toolbar a {
  vertical-align: top;
}

.wysiwyg-placeholder {
  position: absolute;
  top: 4px;
  left: 6px;
  color: #e5e5e5;
  background: 0 0;
}

.wysiwyg-popup {
  position: absolute;
  z-index: 9999;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  left: -50%;
  white-space: nowrap;
  border: 1px solid #d3d3d3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wysiwyg-popup.wysiwyg-popuphover {
  margin-top: 9px;
}

.wysiwyg-popup.wysiwyg-popuphover:after {
  position: absolute;
  left: 50%;
  bottom: 100%;
  border: solid transparent;
  content: '';
  width: 0;
  height: 0;
  margin-left: -8px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 8px solid #d3d3d3;
}

.wysiwyg-toolbar-icon {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0;
  color: #999;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px 12px;
  font: 16px FontAwesome;
  -moz-transition: color .2s,background .2s;
  -webkit-transition: color .2s,background .2s;
  -ms-transition: color .2s,background .2s;
  -o-transition: color .2s,background .2s;
  transition: color .2s,background .2s;
}

.wysiwyg-browse, .wysiwyg-embedcode {
  margin-bottom: 10px;
}

.wysiwyg-toolbar-icon:hover {
  color: HighlightText;
  background-color: Highlight;
  text-decoration: none;
  -moz-transition: color .2s,background .2s;
  -webkit-transition: color .2s,background .2s;
  -ms-transition: color .2s,background .2s;
  -o-transition: color .2s,background .2s;
  transition: color .2s,background .2s;
}

.wysiwyg-toolbar-form {
  padding: 10px;
  white-space: nowrap;
}

.wysiwyg-toolbar-form .wysiwyg-toolbar-icon {
  margin-left: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.wysiwyg-toolbar-color {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.wysiwyg-input {
  display: -moz-inline-stack;
  display: inline-block;
  color: #444;
  background: #fff;
  border: 1px solid #d3d3d3;
  width: 20em;
  height: 20px;
  padding: 5px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: 0;
}

.wysiwyg-input.wysiwyg-inputtextarea {
  width: 100%;
  height: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

.wysiwyg-input:active, .wysiwyg-input:focus, .wysiwyg-input:hover {
  border-color: #d3d3d3;
}

.wysiwyg-browse {
  position: relative;
  left: 0;
  top: 0;
  height: 3em;
  line-height: 3em;
  color: #666;
  border: 2px dashed #e5e5e5;
  background-color: #fafafa;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.wysiwyg-browse:active, .wysiwyg-browse:focus, .wysiwyg-browse:hover {
  color: #444;
  border-color: #d3d3d3;
}

.wysiwyg-toolbar-icon {
  padding: 8px;
}

.wysiwyg-toolbar-icon img {
  width: 12px;
}

/*# sourceMappingURL=main.css.map */
