@media(max-width: 768px) {
	.note-menu {
	    background: #fff;
	    /* display: none; */
	    position: fixed;
	    bottom: 0;
	    z-index: 99999;
	    display: block;
	    left: 0;
	    border-top: 1px solid #ddd;
	    right: 0;
	}
}

@media(min-width: 768px) {
	.note-menu {
		display: block;
		background: #fff;
		margin:0; padding: 0;
		text-align: right;
		margin-right: $wrapper
	}

}

.note-menu__item {
	@extend %list-reset;
	display: inline-block;
	border-right: 1px solid #efefef;
	// hack
	margin-left: -4px !important;
}

@media(max-width: 768px) {
	.note-menu__item {
		width: 33.333333vw;
		box-sizing:border-box;
		text-align: center;
	}
}

.note-menu__item:first-child {
	border-left: 1px solid #efefef;
}

.note-menu__link {
	display: block;
	padding: 14px 20px 6px;
	@extend %button__content--small;
	border-bottom: 4px solid #fff;
	transition: all 0.1s;
}

.note-menu__link:hover {
	border-bottom: 4px solid lighten(map-get($colors, 'primary'), 10%)
}

.note-menu__link:active {
	border-bottom:4px solid #2472a4;
	box-shadow: inset 0 2px 3px #777;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.note-menu__link.active {
	border-bottom:4px solid #2472a4;
	box-shadow: inset 0 2px 3px #777;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}