.title {
	border-bottom: 1px solid #bbb;
	box-shadow: 0 3px 6px #eee;
	overflow:hidden; 
	position: relative;
	z-index: 9;
	background: #fff;
	@include clearfix();
}

.title-input-container {
	width: 50%;
	float:left
}

.title-input {
  border: 0;
  box-sizing: border-box;
  padding: 6px 0 5px 10vw;
  font-size: 24px;
  width: 100%;
}

@media(min-width: 769px) {
	.title-input {
		padding-left: 2vw;
	}
}
