$gutter: 1;

@function get-width($columns) {
	@return ((100 / $columns) - ($gutter)) * 1%;
}

@function get-left-gutter() {
	@return 0 (($gutter/2)* 1%) 0 0;
}

@function get-right-gutter() {
	@return 0 0 0 (($gutter/2) * 1%);
}

@function get-middle-gutter() {
	@return 0 (($gutter / 2) * 1%) 0 (($gutter / 2) * 1%);
}

// scss interface for map type
@mixin columns($type) {
	// @todo if map has key
	
	$name: map-get($type, 'name');
	$selector: map-get($type, 'selector');

	@for $i from 2 through 5 {
	    %columns-#{$name}-#{$i} {
			
			@extend %clearfix;
			
			&> #{$selector} {
			    width: get-width($i);
				display: inline-block;
			}

			$ii: $i;

			@while $ii > 0 {

				@if ($ii == $i) {
					
					$child: $i + 'n';

					&> #{$selector}:nth-child(#{$child}) {
						 margin: get-right-gutter();
					}
				}

				$child: $i + 'n+' + $ii;

				@if ($ii == 1) {
					&> #{$selector}:nth-child(#{$child}) {
						 margin: get-left-gutter();
					}
				}

				@if (($ii != $i) and ($ii != 1)) {
					&> #{$selector}:nth-child(#{$child}) {
						 margin: get-middle-gutter();
					}
				}

				$ii: $ii - 1;	
			}
	    }
	}	
}

@include columns($list-columns);
@include columns($div-columns);

