/**
 * A place for custom mixins if neccessary.
 */

// http://blog.teamtreehouse.com/a-better-clearfix-with-sass
%clearfix {
    &:before {
        content: "";
        display: table;
        clear: both;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin clearfix {
    &:before {
        content: "";
        display: table;
        clear: both;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

%list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

// provide a rem function that use the base font size variable as a dependency
@function rem($base, $px) {
    @return ($px / $base) * 1rem;
}

@function ratio($decimal) {
    @return $decimal * 1.61803398875rem;
}
