body, html {
    font-size: $font-size;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
    background: #fafafa;
    overflow-x: hidden;
}

/**
 * `rem` units allow us to define response type for the entire site 
 * by changing the font-size property of the `html` element. 
 */

// @include display-is(map-get($breakpoints, 'desktop')) {
//     html {
//         font-size: 16px;
//     }
// }
