.btn {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-color: map-get($colors, 'secondary');
    border: 0;
    border: 1px solid map-get($colors, 'secondary');
    border-radius: 18px;
    padding: 4px 36px 8px;
    //border-top-right-radius: 29px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s;
    /* float: right; */
    //border-bottom-right-radius: 29px;
}

.btn:hover {
    background-color: darken(map-get($colors, 'secondary'), 5%);
}

.btn--alert {
    background-color: #fff;
    border: 3px solid #c0392b;
    color: #000;
}

.btn__icon {
    vertical-align: middle;
    padding-right: 5px;
    font-size: 18px;
}

.btn__content {
    vertical-align: middle;
}

.button--small {
}

%button__content--small {
	font-size: 13px;
	font-family: $secondary-font-family;
}


.btn {
    transition: box-shadow 0.15s;
}

.btn:active {
    box-shadow: inset 0 3px 10px #000;
    outline: 0;
    color: #fff;
}

.btn:focus {
    outline: 0;
}



.btn__success {
    display: none;
}

.btn__loader {
    display: none;
    position: relative;
    margin-left: 5px;
    margin-top: 2px;
    width: 12px;
    height: 12px;

    -webkit-animation: circle infinite .75s linear;
       -moz-animation: circle infinite .75s linear;
         -o-animation: circle infinite .75s linear;
            animation: circle infinite .75s linear;

    border: 2px solid #fff;
    border-top-color: rgba(35, 109, 158, .9);
    border-right-color: rgba(35, 109, 158, .9);
    border-bottom-color: rgba(35, 109, 158, .9);
    border-radius: 100%;
}

.delete .btn__loader {
    border-top-color: rgba(184, 47, 39, .9);
    border-right-color: rgba(184, 47, 39, .9);
    border-bottom-color: rgba(184, 47, 39, .9);
}

@-webkit-keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-o-keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}