.description__container {
    position: absolute;
    transition: all 300ms;
}
.wysiwyg-description-editor {
    display: none;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    background: #fff;
    min-height: 60vh;
    border: 1px solid #eee;
    padding: 25px 5vw;
    width: 85vw;
    margin-left: 0;
}

@media(min-width: 768px) {
    
    .description__container {
        display: block;
        position: relative;
    }
    
    .wysiwyg-description-editor {
        //@extend .editor-container;
        width: 46vw;
        padding: 25px;
        background: #fff;
        border: 1px solid #eee;
        position: absolute;
        margin-left: 21.6vw;
        display: none;
    }
}


.description-editor {
    @extend %editor;
    min-height: 40vh !important;
    ul, ul li {
    	list-style-type: disc;
    }

    ol, ol li {
    	list-style-type: decimal;
    }
    li {
    	margin-left: 10px;
    	padding-left: 5px;
    }
}

.description-editor.active {
	border-bottom: 3px solid #2472a4;
}

.description-empty {
    display: none;
}

.description-empty.disabled {
    display: none;
}


@media(min-width: 768px) {
    .description-empty {
        display: block;
        float:left;
        text-align: center;
        width: 38vw;
        padding: 25px;
        position: absolute;
        margin-left: 25.6vw;
    }
}


.description-empty__title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 35px;       
    margin-bottom: 35px;
    color: #aaa;
    display: block;
    /* -webkit-text-security: initial; */
    color: #ddd;
}


.description-empty__p {
    display:block;
    color: #ccc;
    //text-shadow: 0 0 1px #000;
}




.comments__container {
    display: none;
    position: absolute;
    padding: 25px;
    background: #fff;
    border: 1px solid #eee;
    top: 56vh;
    margin-left: 6vw;
    width: 59vw;
    border: 1px solid #ddd;
}



@media(min-width: 768px) {
    .comments__container {
        width: 22.4vw;
        display: block;
        margin-left: 69vw;
        position: relative;
        top: 0;
        border: 1px solid #eee;
        border-radius: 3px;
    }
}



.create-footnote-btn {
    position: absolute;
    left: 70vw;
    margin-top: 64px;
    background: #fff;
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    color: #ddd;
    top:0;
    display: none;
}

@media(min-width: 768px) {
    .create-footnote-btn {
        left: 64vw;
        margin-top: 84px;
        height: 40px;
        padding-top: 6px;
    }
}

.create-footnote-btn:hover, .create-footnote-btn:active, .create-footnote-btn:visited {
    color: #000;
}

.footnote-marker {
    width: 5px;
    height: 8px;
    background: #fff;
    border: 0;
    border-left: 3px solid #ddd;
    cursor: pointer;
    margin-left: 3px;
}

.footnote-marker:active, .footnote-marker:focus, .footnote-marker:hover {
    border-left: 3px solid #000;
}

.footnote-marker.active {
    border-left: 3px solid #4a72a4;
}

.create-footnote-btn:focus {
    outline: 0;
}

.comments-container {
    border-bottom: 1px solid #ddd;
}

.footnote-input {
    width: 100%;  
    border:0;
    border-bottom:3px solid #ddd; 

}

.footnote.active .footnote-input {
    border-bottom: 3px solid map-get($colors, 'secondary');
}

.footnote button {
    display: none;
    border: 0;
    background: 0;
    position: absolute;
    display:none;
    color: red;
    top:25px;
    right:25px;
}

.footnote:hover button {
    display: block;
}