.editor-section {
  clear: both;
  background: #fafafa;
    min-height: 100vh;
    padding: 25px
  // display:flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // align-content: stretch;
  // align-items: stretch;
  // padding-top: 20px;
}