.ideas__container {
    box-sizing: border-box;
    //@extend .editor-container;
    border-left: 1px solid #fff;
    background: #fff;
    /* padding: 25px; */
    min-height: 60vh;
    /* background: #333; */
    border: 1px solid #eee;
    padding: 25px 5vw;
    width: 85vw;
    position: absolute;
    transition: all 300ms;
}

@media(min-width: 768px) {
  .ideas__container {
    position: relative;
    min-height: 100vh;
    float: left;
    width: 20vw;
    padding: ratio(1.5) 3vw ratio(1.5) 2vw;
  }
}

.ideas__container.editing {
    border-left: 1px solid #FF4136;
    box-shadow: -3px 3px 6px #eee;
}


.ideas-editor {
    @extend %editor;
}

.ideas-editor::-webkit-input-placeholder {
   font-weight: 400;
}

.ideas-editor:-moz-placeholder { /* Firefox 18- */
   font-weight: 400;  
}

.ideas-editor::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 400;  
}

.ideas-editor:-ms-input-placeholder {  
   font-weight: 400;  
}

.ideas-editor {
	.active & {
		border-bottom: 3px solid #2472a4;
	}
}

.ideas-editor:disabled {
	background: #fefefe;
	border-bottom: 3px solid #999;
	color: #999;
}


.delete-idea {
    display: none;
}

.delete-idea:hover {
    color: darken(#FF4136, 25%);
}

.show-idea-description {
    position: absolute;
    right: 5px;
    margin-top: 9px;
}

.show-description-idea {
    position: absolute;
    left: 2vh;
    top: 50%;
}

@media(min-width: 769px) {
    .show-idea-description {
        display: none;
    }

    .show-description-idea {
        display: none;
    }
}