.mobile-modal-background { 
    position:fixed;
    overflow:hidden;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100vh; width: 100vw;
    display:none;
}

.mobile-warning {
    position: fixed;
    z-index: 9999;
    box-shadow: 0 3px 6px #000;
    background: #fff;
    border-top: 4px solid #4272a4;
    width: 70vw;
    color: #000;
    min-height: 24vh;
    top: 30vh;
    left: 10vw;
    padding: 25px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    p {
        margin: 10px 0 25px;
    }
    display:none;
}


@media(min-width: 768px) {
    .mobile-warning {
       width: 30vw;
       left: 33vw;
    }
}
