.notes-nav {
    @extend %clearfix;
	border-bottom: 4px solid map-get($colors, 'secondary');
	width: 100vw;
	margin: 0 auto 0;
	padding: 20px 10vw 10px 5vw;
	box-sizing: border-box;
    font-size: 20px;
    background: #fff;
}

.notes-search {
	border: 0;
    border-radius: 18px;
    background: #f2f2f2;
    float: right;
    padding: 4px 4px 4px 36px;
    color: #000;
    background-image: url('https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-20.png');
    background-repeat: no-repeat;
    background-position: 11px 50%;
    margin-right: 10px;
    width: 0px;
    @extend %button__content--small;
}

.notes-list {
    @extend %clearfix;
    margin: 0 auto;
    padding: ratio(1) 0.5vw;
}


.notes-list__item {
    @extend %clearfix;
    padding: 30px;
    height: 30vh;
    background: #fff;
    border: 1px solid #ddd;
    transition: all 0.3s;
    width: 89vw;
    box-sizing: border-box;
    margin: 5vw;
    position: relative;
    transition: all .2s;
}

.notes-list__item.disabled {
    background: #ddd;
}

.notes-list__item.active {
    height: 80vh;
    z-index: 999;
    //left: 5vw;
    //right: 5vw;
    //bottom: 5vw;
}

@media(min-width: 768px) {
    .notes-list__item {
       float: left;
       margin: 0.5vw;
       width: 23.4vw;
    }  
}


.notes-list__item:nth-child(even) {
    border-right: 1px solid #ddd;
}
.notes-list__item:nth-child(odd) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.notes-list__link {
	font-size: 14px;
    font-weight: 700;
}

.notes-list__item span {
	@extend %button__content--small;
}

.notes-list__title {
	float: left;
	width: 70%;
}


.notes-list__menu {
	position:absolute;
    top:0;
    right: 10px;
	text-align: right;
	opacity: 0;
}

.notes-list__item:hover {
    border-bottom: 1px solid #999;
}

.notes-list__item:hover .notes-list__menu {
	opacity: 1;
}

.notes-list__menu {
	padding-top: 15px;
}

.notes-list__menu a {
    @extend %button__content--small;
	padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #dadada;
    vertical-align: middle;
    background: #fafafa;
    box-shadow: 0 0 1px #eee;
    transition: all .1s;
    span {
    	padding-right: 7px;
    	vertical-align: middle;
    	color: #FF4136;
    }
}

.notes-list__menu a:hover {
	border: 1px solid #999;
}

.notes-list__menu a:active {
	box-shadow: inset 0 2px 2px #dadada;
	border: 1px solid #aaa;
}


.notes-options-btn {
    @extend %button__content--small;
    font-size: 11px;
    color: #777;
    margin-right: 10px;
    display:block;
    text-align:right;
}