.modal-background { 
    position:fixed;
    overflow:hidden;
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100vh; width: 100vw; display: none;
}

@media(max-width: 768px) {
    .delete-modal, .modal-background {
        display: none;
    }
}

.delete-modal {
    display: none;
    border-box: box-sizing;
    position: fixed;
    z-index: 99999;
    box-shadow: 0 3px 6px #000;
    background: #fff;
    border-top: 4px solid #4272a4;
    width: 80vw;
    color: #000;
    min-height: 24vh;
    top: 30vh;
    left: 5vw;
    padding: 25px 5vw;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    p {
        margin: 10px 0 25px;
    }
}

@media(min-width: 768px) {
    .delete-modal {
       width: 30vw;
       left: 33vw;
    }
}

.delete {
    @extend .btn;
    background-color: map-get($colors, 'tertiary');
    border-color: map-get($colors, 'tertiary');
    transition: all 0.3s;
}

.delete:hover {
    background-color: darken(map-get($colors, 'tertiary'), 5%);
}

.delete:hover, .delete:visited, .delete:active, .delete:focus {
    color: #fff;
}


.cancel-delete {
    color: #000;
    margin-left: 15px;
    float: right;
    @extend %button__content--small;
}

.cancel-delete:hover, .cancel-delete:visited {
    color: #000;
}

.modal__header {
    font-weight: 700;
    span {
        font-size: 18px;
        color: map-get($colors, 'tertiary');
        padding-right: 10px;
    }
}

.modal__footer {
    margin-top: 25px;
}