	
.edit-ideas-container {
	float: left;
}
.close-editor-options-button {
	display: none;
  @extend %button__content--small;
	padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #dadada;
    vertical-align: middle;
    background: #f5f5f5;
    box-shadow: 0 0 1px #eee;
    transition: all .3s;
    span {
    	padding-right: 7px;
    	vertical-align: middle;
    }
}

.close-editor-options-button:hover {
	  border: 1px solid #999;
}

.close-editor-options-button:active {
	  box-shadow: inset 0 2px 2px #dadada;
	  border: 1px solid #aaa;
}

.delete-idea {
	  color: #FF4136;
	  position: absolute;
	  right: 5px;
	  margin-top: 9px;
}

.edit-ideas-container {
	margin-bottom: 30px;
}

.open-editor-options-button {
	display: inline;
	color: #999;
	padding: 3px 6px;
	border: 1px solid #fff;
	transition: all .3s;
    @extend %button__content--small;
    .btn__content {
    	padding-left: 7px;
    	display: none;
    }
}

.open-editor-options-button:hover {
	  color: #000;
    border-radius: 3px;
    border: 1px solid #dadada;
    vertical-align: middle;
    box-shadow: 0 0 1px #eee;
    .btn__content {
    	display: inline;
    }
}

.open-editor-options-button:active {
	box-shadow: inset 0 2px 2px #dadada;
	border: 1px solid #aaa;
}

.editing-animation {
    height: 10px;
    width: 33px;
}

.circle {
  display:inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: #555;
  animation: editing infinite 2s linear;
}

.circle:nth-child(2) {
  animation-delay: .5s;
}

.circle:nth-child(3) {
  animation-delay: 1s;
}

@keyframes editing
{
    0%
    {
               opacity: 0.5;
    }
    50% {
                opacity: 1;
    }
    100%
    {  
                opacity: .5;
    }
}

