
.ideas__item {
	background-image: url('https://cdn1.iconfinder.com/data/icons/material-core/20/check-circle-outline-blank-16.png');
	position: relative;
	display:block;
    background-position: 0 3px;
    background-repeat: no-repeat;
    padding-left: 32px;
    //list-style-type: none;
}

.ideas__item.active {
	background-image: url('https://cdn1.iconfinder.com/data/icons/material-core/20/radio-button-on-16.png');
    //list-style-type: none;
}

.ideas__item.active .ideas-editor {
	font-weight: 700
}



.ideas-editor-nav {

}


